.containerCatalogo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.containerCatalogo .title {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 32px;
}

.containerCatalogo .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.containerCatalogo .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.containerCatalogo .products-container .product:hover {

    outline: .2rem solid #222;
    outline-offset: 0;
}

.containerCatalogo .products-container .product img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    height: 25rem;
    transition: transform 0.4s ease-in-out;
    /* Suavizar el efecto de escala */
}

.containerCatalogo .products-container .product:hover img {
    transform: scale(.9);
}

.containerCatalogo .products-container .product h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}

.containerCatalogo .products-container .product:hover h3 {
    color: #27ae60;
}

.containerCatalogo .products-container .product .price {
    font-size: 2rem;
    color: #444;
}

/* estilos css botones editar y eliminar */


.product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.edit-btn {
    background-color: #27ae60;
    /* Verde */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.delete-btn {
    background-color: #f44336;
    /* Rojo */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.entradas-btn {
    background-color: #007bff;
    /* Rojo */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.entradas-btn:hover {
    background-color: #449eff;
}


.delete-btn:hover,
.edit-btn:hover {
    opacity: 0.9;
}


/* Estilo para el botón de agregar producto */
.button-container {
    margin-top: 2rem;
    position: absolute;
    top: 20vh;
    right: 3vw;
}

.add-product-btn {
    background-color: #25cd53;
    color: white;
    text-decoration: none;
    border: none;
    padding: 9px 14px;
    font-size: 22px;
    border-radius: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-btn:hover {
    background-color: #1f9b44;
    color: #ffff;
    text-decoration: none;
}

.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 31rem;
    height: 60rem;
}

.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img {
    height: 23rem;
}

.products-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}

.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}

.products-preview .preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2.5rem;
}

.products-preview .preview .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.products-preview .preview .stars i {
    color: #27ae60;
}

.products-preview .preview .stars span {
    color: #999;
}

.products-preview .preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #777;
}

.products-preview .preview .price {
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #27ae60;
}

.products-preview .preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.products-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;
}

.products-preview .preview .buttons a.cart {
    background: #444;
    color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
    background: #111;
}

.products-preview .preview .buttons a.buy:hover {
    background: #444;
    color: #fff;
}


@media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    .products-preview .preview img {
        height: 25rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }


}


.containerCatalogo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.containerCatalogo .title {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.containerCatalogo .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    /* Ajustar el ancho mínimo y máximo aquí */
    gap: 2rem;
    margin-top: 5vw;
}

.containerCatalogo .products-container .product {
    text-align: center;
    padding: 2rem;
    /* Ajustar el espacio interior */
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.containerCatalogo .products-container .product:hover {
    outline: .2rem solid #25cd53;
    outline-offset: 0;
}

.containerCatalogo .products-container .product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform .2s ease-in-out;
}

.containerCatalogo .products-container .product:hover img {
    transform: scale(.9);
}

.containerCatalogo .products-container .product h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;

}

.containerCatalogo .products-container .product:hover h3 {
    color: #27ae60;
}

.containerCatalogo .products-container .product .price {
    font-size: 2rem;
    color: #444;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    .containerCatalogo .products-container .product {
        padding: 2rem;
        /* Ajustar el espacio interior para pantallas más pequeñas */
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .containerCatalogo .products-container .product {
        padding: 2rem;
        /* Ajustar el espacio interior para pantallas aún más pequeñas */
    }
}

/* ///// formulario /////*/
.containerForm {
    width: 50%;
    height: 81vh;
    margin: auto;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label,
select {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: #000;
    padding: 6px 2px 6px 17px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea,
select {
    padding: 17px;
    width: 100%;
    font-size: 1rem;
    background-color: #ffffff;
    border: #000 solid 1px;
    color: #000;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    margin-left: 256PX;
    display: flex;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #25cd53;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}

input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

/* Estilos básicos para el modal */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    overflow: auto;
    /* Añadir desplazamiento si el contenido es grande */
}

/* Contenido del modal */
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    /* 5% desde la parte superior y centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ancho del modal */
    max-width: 600px;
    /* Ancho máximo del modal */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* Centrar verticalmente */
}

/* Botón para cerrar el modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.save-btn {
    display: flex;
    justify-content: center;
    padding: 7px 35px;
    border-radius: 60px;
    background-color: #25cd53;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    margin-top: 10px;
    margin-left: 12vh;
}

.save-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.add-product-btn {
    display: inline-flex;
    align-items: center;
    color: #fff;
    /* Color del texto */
    background-color: #25cd53;
    /* Color verde */
    padding: 5px 10px;
    /* Botón más pequeño */
    text-decoration: none;
    border-radius: 8px;
    /* Bordes ligeramente redondeados */
    position: relative;
    /* Para el texto */
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    /* Transición suave */
    opacity: 0.8;
    /* Desvanecimiento inicial */
}

.add-product-btn .text {
    margin-left: 5px;
    /* Espacio entre el icono y el texto */
    display: none;
    /* Ocultar el texto por defecto */
}

.add-product-btn:hover {
    background-color: #23b74d;
    /* Cambiar a un verde más oscuro al pasar el cursor */
    transform: scale(1.05);
    /* Escala el botón al pasar el cursor */
    opacity: 1;
    /* Opacidad al 100% al pasar el cursor */
}

.add-product-btn:hover .text {
    display: inline;
    /* Mostrar el texto al pasar el cursor */
}

.add-product-btn:hover .icon {
    margin-right: 5px;
    /* Espacio entre el ícono y el texto */
}

.icon {
    display: inline;
    /* Mostrar el ícono siempre */
    color: #fff;
    /* Color del ícono en blanco */
}


.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    /* Posición fija */
    z-index: 1;
    /* Encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Desplazamiento si es necesario */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Color con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    /* 20% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    /* Ajustar el tamaño */
    text-align: center;
    /* Centrar el contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombras */
    border-radius: 10px;
    /* Bordes redondeados */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.check-icon {
    font-size: 48px;
    color: green;
    opacity: 0;
}

.animate-check {
    animation: fadeInCheck 0.5s forwards;
}

@keyframes fadeInCheck {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Estilo para los botones en el modal de bajas */
/* Estilo para el modal */
.modal {
    display: none;
    /* Ocultar por defecto */
    position: fixed;
    /* Fijo para que se mantenga en el mismo lugar */
    z-index: 1000;
    /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    overflow: auto;
    /* Habilitar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semi-transparente */
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 0vh auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 100%;
    max-width: 504px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 89vh;
}

/* Estilo para los títulos */
.modal-content h2 {
    margin-bottom: 20px;
    /* Espacio debajo del título */
    text-align: center;
    /* Centrar el texto del título */
}

/* Estilo para el formulario */
.container-form {
    display: flex;
    flex-direction: column;
    /* Alinear los campos en columna */
}

/* Espaciado entre campos de entrada */
.input-container {
    margin-bottom: 15px;
    /* Espacio entre campos */
    position: relative;
    /* Para posicionar las etiquetas */
}

/* Estilo para los inputs y textareas */
.input-container input,
.input-container textarea {
    width: 100%;
    /* Ancho completo del contenedor */
    padding: 10px;
    /* Espacio interno */
    border: 1px solid #ccc;
    /* Borde gris */
    border-radius: 5px;
    /* Bordes redondeados */
    box-sizing: border-box;
    /* Incluir padding en el tamaño total */
}

/* Estilo para los botones */
.modal .submit-btn,
.modal .cancel-btn {
    background-color: #23b74d;
    /* Color del botón */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    padding: 5px 10px;
    /* Espaciado interno reducido para que sean más pequeños */
    font-size: 12px;
    /* Tamaño de fuente más pequeño */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    height: 35px;
    /* Altura uniforme para los botones */
    min-width: 100px;
    /* Mínimo ancho para los botones */
    margin: auto;
    /* Alinear botones */
}

/* Centrar botones y hacer que estén en la misma altura */
.modal .button-container {
    display: flex;
    justify-content: center;
    /* Centra los botones horizontalmente */
    gap: 10px;
    /* Espacio entre los botones */
    margin-top: 20px;
    /* Espacio arriba de los botones */
}

/* Asegurar que el modal tenga suficiente espacio para los botones */
.modal-content {
    display: flex;
    flex-direction: column;
    /* Coloca los elementos en columna */
    justify-content: space-between;
    /* Espacio entre elementos */
    height: auto;
    /* Permitir que el contenido ajuste la altura del modal */
}

.modal-body {
    flex: 1;
    /* Permite que el cuerpo del modal ocupe el espacio restante */
    display: flex;
    flex-direction: column;
}

/* Estilo para cerrar el modal */
.close {
    color: #aaa;
    /* Color gris */
    float: right;
    /* Alinear a la derecha */
    font-size: 28px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Negrita */
}

.close:hover,
.close:focus {
    color: black;
    /* Cambiar a negro al pasar el mouse */
    text-decoration: none;
    /* Sin subrayado */
    cursor: pointer;
    /* Mano al pasar el mouse */
}

/* Estilos adicionales para inputs */
.input-container input,
.input-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para las etiquetas */
.input-container label {
    margin-top: 5px;
    display: block;
    font-weight: bold;
}

/* /* Estilo para el modal */
.modal-entradas {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    /* Fijo para que se mantenga en el mismo lugar */
    z-index: 1000;
    /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    overflow: auto;
    /* Habilitar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semi-transparente */
}

/* Contenido del modal */
.modal-content-entradas {
    background-color: #fefefe;
    /* Fondo blanco */
    margin: 10% auto;
    /* Ajustar para centrar verticalmente */
    padding: 15px;
    /* Espacio interno */
    border: 1px solid #888;
    /* Borde gris */
    border-radius: 8px;
    /* Bordes redondeados */
    width: 100%;
    /* Ancho del modal */
    max-width: 300px;
    /* Ancho máximo del modal, más pequeño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

/* Estilo para los títulos */
.modal-content-entradas h2 {
    margin-bottom: 10px;
    /* Espacio debajo del título */
    text-align: center;
    /* Centrar el texto del título */
}

/* Estilo para el formulario */
.containerForm {
    display: flex;
    flex-direction: column;
    /* Alinear los campos en columna */
}

/* Espaciado entre campos de entrada */
.input-container-entradas {
    margin-bottom: 10px;
    /* Espacio entre campos */
}

/* Estilo para los inputs */
.input-container-entradas input {
    width: 100%;
    /* Ancho completo del contenedor */
    max-width: 200px;
    /* Limitar el ancho de los inputs, más reducido */
    padding: 5px;
    /* Espacio interno reducido */
    border: 1px solid #ccc;
    /* Borde gris */
    border-radius: 4px;
    /* Bordes redondeados */
    box-sizing: border-box;
    /* Incluir padding en el tamaño total */
}

/* Estilo para el botón */
.btn-submit-entradas {
    background-color: #23b74d;
    /* Color verde */
    color: white;
    /* Texto blanco */
    border: none;
    /* Sin borde */
    padding: 5px 10px;
    /* Espacio interno reducido */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Mano al pasar el mouse */
    transition: background-color 0.3s;
    /* Transición suave */
    width: 100%;
    /* Ancho completo */
    max-width: 120px;
    /* Ancho máximo del botón */
    margin: 10px auto;
    /* Centrar el botón horizontalmente y espacio vertical */
    margin-left: 2rem;
}

/* Efecto hover para el botón */
.btn-submit-entradas:hover {
    background-color: #1e8c3a;
    /* Color más oscuro al pasar el mouse */
}

/* Estilo para cerrar el modal */
.close-entradas {
    color: #aaa;
    /* Color gris */
    float: right;
    /* Alinear a la derecha */
    font-size: 28px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Negrita */
}

.close-entradas:hover,
.close-entradas:focus {
    color: black;
    /* Cambiar a negro al pasar el mouse */
    text-decoration: none;
    /* Sin subrayado */
    cursor: pointer;
    /* Mano al pasar el mouse */
}

#entradasForm {
    height: 25rem;
    margin: auto;

}

.inputcastaño {
    margin-top: 2.3rem;
    text-align: center;
}

.containerCatalogo form {
    width: 17vw;
    position: absolute;
    right: 8vw;
    top: 13vw;
}

.containerCatalogo form select {
    font-size: 0.75em;
    padding: 11px 0;
}